# General
*.env
.vscode
.DS_Store

# Backend
*.pyc
__pycache__
db.sqlite3
# Ignore all files in avatar media images, except for the default image
srcs/backend/media/avatars/*
!srcs/backend/media/avatars/default.jpeg

# Frontend
node_modules
