
.nav-pills {
  --bs-nav-pills-link-active-bg: #6c757d !important;
}

.nav-link {
  --bs-nav-link-color: #727273 !important;
  --bs-nav-link-hover-color: #000000cc !important;
}

#single-match-button, #tournament-button, .pong-buttons, #invitation-btn, #start-match-button {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #14dd50;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #14dd50;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  background-color: transparent;
  margin-top: 25px;
}

#single-match-button:before, #tournament-button:before, .pong-buttons:before, #invitation-btn:before, #start-match-button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #14dd50;
  z-index: -1;
}

#single-match-button:hover, #single-match-button:focus, #tournament-button:hover, #tournament-button:focus,
.pong-buttons:hover, .pong-buttons:focus,
#invitation-btn:hover, #invitation-btn:focus,
#start-match-button:hover, #start-match-button:focus {
  color: white;
}

#single-match-button:hover:before, #single-match-button:focus:before, #tournament-button:hover:before, #tournament-button:focus:before,
.pong-buttons:hover:before, .pong-buttons:focus:before,
#invitation-btn:hover:before, #invitation-btn:focus:before,
#start-match-button:hover:before, #start-match-button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#single-match-button:active, #tournament-button:active, .pong-buttons:active, #invitation-btn:active, #start-match-button:active {
  transform: scale(0.9);
}

.mode-images {
  width: 411px;
  height: 256px;
}

.pong-buttons {
  width: 175px;
}

@media (max-width: 992px) {
  .buttons {
    flex-direction: column;
  }

  #single-match-button, #tournament-button {
    margin-bottom: 25px;
  }
  .mode-images {
    width: auto;
    height: auto;
  }
}

