body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

main {
  margin-top: 66px;
  padding-top: 24px;
  min-height: calc(100vh - 66px);
}

#app {
  flex: 1;
  padding-bottom: 32px;
}

@media (max-width: 992px) {
  .navbar > .container {
    padding-right: 140px;
  }

  .language-toggle__wrapper {
    position: absolute !important;
    top: 6px;
    right: 12px;
  }
}

/* Override Bootstrap */
.navbar {
  --bs-navbar-nav-link-padding-x: 1rem !important;
}

/* SideBar */
.sidebar-outter-wrapper, .sidebar-wrapper {
  min-width: 250px;
  max-width: 250px;
}

.sidebar-wrapper, .sidebar-inner-wrapper {
  background-color: var(--bs-dark) !important;
}

.sidebar-wrapper {
  position: fixed;
  height: calc(100vh - 100px);
  border-radius: 5px;
  overflow: hidden;
}

.sidebar-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 24px 16px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .sidebar-inner-wrapper {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .sidebar-outter-wrapper, .sidebar-wrapper {
    min-width: 72px;
    max-width: 72px;
  }

  .sidebar-inner-wrapper {
    top: 66px !important;
    max-width: max(250px, 75vw) !important;
  }
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar-section > div[id$="-accepted"] {
  margin-top: -16px;
}

.sidebar-section > div[id$="-accepted"] > div > :first-child {
  margin-top: 16px;
}

.sidebar-section-element {
  background-color: var(--bs-gray-400);
}

.sidebar-section-element[data-link] {
  cursor: pointer;
}

.sidebar-section-element span {
  font-size: 14px;
}

.sidebar-section-element i {
  font-size: 20px;
}

.sidebar-wrapper button[data-action] {
  opacity: 0.75;
  transition: 0.2s;
}

.sidebar-wrapper button[data-action]:hover {
  opacity: 1;
}

.sidebar-wrapper button[data-action="cancel"], .sidebar-wrapper button[data-action="refuse"] {
  color: var(--bs-danger);
}

.sidebar-wrapper button[data-action="accept"] {
  color: var(--bs-success);
}

/* ChatBox */
#chat-box {
  position: absolute;
}

.chat-box-wrapper {
  position: fixed;
  bottom: 0;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--bs-dark);
  max-height: 80vw;
  height: 400px;
  max-width: 80vw;
  width: 320px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  z-index: 100;
}

.chat-box-header, .chat-box-header * {
  display: flex;
  color: #f8f9fa;
}

.chat-box-actions-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: auto;
}

.chat-box-actions-wrapper * {
  color: #f8f9fa;
  font-size: 20px;
  line-height: 1;
  background: transparent;
  padding: 0;
  border: none;
}

.chat-box-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  padding: 10px;
  background: #6c757d;
  border-radius: 5px;
  overflow-y: scroll;
}

.chat-box-message {
  font-size: 14px;
  word-break: break-word;
  background: #f8f9fa;
  width: 70%;
  padding: 5px 10px;
  border-radius: 5px;
}

.chat-box-message.right {
  margin-left: auto;
}

.chat-box-message.left {
  margin-right: auto;
}

.chat-box-footer form {
  display: flex;
  gap: 5px;
}

#friends-add {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#friends-add input {
  flex: 1;
}

/* Toast */
#toast {
  position: absolute;
}

/* User Badge */
.user-badge {
  color: var(--bs-body-color);
  text-decoration: auto !important;
}

.user-badge.is-online div.online-circle {
  position: static;
  bottom: 2px;
  left: 20px;
  display: block;
  height: 10px;
  width: 10px;
  background: green;
  border-radius: 50%;
  margin: 16px -1px 0 -16px;
}

.user-badge:not(.is-online) div.online-circle {
  display: none;
}

.user-badge span {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
}
